<section
  class="header-section"
  fxLayout
  fxLayout.xs="column"
  fxLayoutGap="15px"
>
  <div class="title" fxFlex="50">
    <h1>Estatísticas do Aluno - Jon Doe</h1>
  </div>
</section>

<section class="dash" fxLayout fxLayout.xs="column" fxLayoutGap="20px">
  <div class="card card-1" fxFlex="33.3">
    <div class="divisor"></div>
    <h2>Nota Média</h2>
    <p class="number">6.9</p>
  </div>
  <div class="card card-2" fxFlex="33.3">
    <div class="divisor"></div>
    <h2>Total de Acertos</h2>
    <p class="number">500</p>
  </div>
  <div class="card card-3" fxFlex="33.3">
    <div class="divisor"></div>
    <h2>Total de Erros</h2>
    <p class="number">150</p>
  </div>
</section>


<section class="card-static">
    <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      [colors]="chartColors">
  </canvas>
</section>
