@import '../../../../variables';

.main{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;

  @media screen and (max-width: 768px){
    display: block;
  }
}


.close{
  position: absolute;
  right: 25px;
  top: 25px;
  i.material-icons{
    color: $light-gray;
  }
}

.menu-mobile{
  width: 100%;
  background: $gray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 76px;

  i.material-icons{
    color: $light-gray;
    padding-right: 15px;
  }

  z-index: 9999;
}

.header-main{
  max-width: 260px;
  width: 260px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  @media screen and (max-width: 768px){
    min-width: 100%;
    max-width: 100%;
    right: 0;
  }
}

.content-section{
  @media screen and (min-width: 768px){
    margin-left: 260px;
    width: 100%;
  }
}

.container{
  width: 90%;
  margin: 3.438em auto;
}

.header-main{
  min-height: 100vh;
  width: 100%;
  background-color: $gray;
  height: 100%;
}

.logo-wrap{
  width: 100%;
  background: $dark_gray;
  padding: 1.563em 0;

  img{
    max-width: 100%;
    padding-left: 8px;
  }
}

.nav-main{
  margin-top: 0.938em;
  flex-grow: 1;
  li{
    align-items: center;
    padding: 1em 0.938em;
    transition: background-color .8s ease;
    cursor: pointer;
    outline: none;
    ::selection{
      background-color: none;
    }

    &.active{
      background-color: $dark_gray;
    }

    p{
      color: #fff;
    }
    i.material-icons{
      color: $light-gray;
      max-width: 24px;
      flex: 1 24px;
    }
  }
}

.logout{
  padding: 2em 0.938em;
  justify-self: flex-end;
  border-top: 1px solid $dark_gray;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;

  .svg-inline--fa{
    fill: $light-gray;
    color: $light-gray;
    height: 20px;
  }
  p{
    color: #fff;
    margin-left: 5px;
  }
}
