<section class="header-section" fxLayout fxLayout.xs="column" fxLayoutGap="15px">
    <div class="title" fxFlex="50">
      <h1>Minhas listas</h1>
    </div>
    <div class="search" fxFlex="50">
      <i class="material-icons">search</i>
      <input type="text" placeholder="Procurar Turmas">
    </div>
</section>
<section class="list-container" >
    <app-card *ngFor="let list of lists | paginate: { id: 'list',
    itemsPerPage: 10,
    currentPage: p}" [title]="list.title" [class]="list.class" [date]="list.date"></app-card>
</section>
<div class="controls-list">
    <pagination-controls  id="list"
        (pageChange)="pageChanged($event)"
        maxSize="9"
        directionLinks="false"
        autoHide="true"
        responsive="true"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
    </pagination-controls>
</div>
