<div class="student-name">
  <h2><span>Aluno:</span> Joe Doe</h2>
</div>

<div class="key-words">
  <span>Palavras-chave: </span>#simply, #book, #remaing
</div>

<div class="key-words"><span>Percentual de palavras-chave: </span>15%</div>

<div class="resposta-aluno">
  <p class="label">Resposta do Aluno</p>
  <div class="content">
    <p>
      Lorem ipsum, dolor sit amet
      <span class="highline">adipisicing</span> adipisicing elit. Repellendus
      aut voluptatum quas perspiciatis ratione error harum impedit sunt mollitia
      natus rem, possimus accusamus sapiente iure rerum assumenda quisquam
      perferendis dicta!
    </p>
    <p>
      Lorem ipsum, dolor <span class="highline">adipisicing</span> sit amet
      consectetur adipisicing elit. Repellendus aut voluptatum quas perspiciatis
      ratione error harum impedit sunt mollitia natus rem, possimus accusamus
      sapiente iure rerum assumenda quisquam perferendis dicta!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus
      <span class="highline">adipisicing</span> aut voluptatum quas perspiciatis
      ratione error harum impedit sunt mollitia natus rem, possimus accusamus
      sapiente iure rerum assumenda quisquam perferendis dicta!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aut
      voluptatum quas perspiciatis ratione error harum impedit sunt mollitia
      natus rem, possimus accusamus sapiente iure rerum assumenda quisquam
      perferendis dicta!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus
      <span class="highline">adipisicing</span> aut voluptatum quas perspiciatis
      ratione error harum impedit sunt mollitia natus rem, possimus accusamus
      sapiente iure rerum assumenda quisquam perferendis dicta!
    </p>
  </div>
</div>

<mat-form-field class="full-width" floatLabel="always" appearance="outline">
  <mat-label>Comentário</mat-label>
  <textarea [formControl]="comment" rows="4" cols="50" matInput></textarea>
</mat-form-field>
<div class="space"></div>
<mat-form-field class="full-width" floatLabel="always" appearance="outline">
  <mat-label>Nota</mat-label>
  <input [formControl]="nota" type="text" matInpu matInput />
</mat-form-field>
