@import '../../../../variables';

.list-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  outline: none;
  outline-width: 0;

  @media screen and (min-width: 768px){
    grid-template-columns: 1fr 1fr;
  }
}

.container-modal{
  width: 100%;

  .divisor{
    width: 25px;
    height: 4px;
    background-color: $light_gray;
    margin: 15px 0;
  }

  h2{
    font-size: 18px;
    font-weight: bold;
    color: #3B3B53;
  }
}
