
@import '../../../../variables';

//BackNav
.back-wrap{
  display: flex;
  align-items: center;
  color: $light_gray;
  font-size: 18px;
  font-weight: bold;
  margin: 25px 0;
  cursor: pointer;
  i.material-icons{
    font-weight: bold;
  }
  h2{
    margin-left: 15px;
    display: block;
  }
}
