<div class="container">
  <app-nav-back [title]="'Listas'"></app-nav-back>
  <div class="content-student" *ngIf="!isRevision; else revisionForm">
    <div
      class="student-static"
      fxLayout
      fxLayout.xs="column"
      fxLayoutGap="25px"
      *ngIf="avaliacao | async as aval"
    >
      <div class="student-result" fxFlex="20">
        <h3>Sua média</h3>
        <p>{{ aval.nota }}</p>
      </div>

      <div class="student-result-info" fxFlex="70">
        <h3>{{ aval.resolucaoLista.aplicacaoLista.turma.disciplina.nome }}</h3>

        <p>{{ aval.dataCadastro | date: "dd/MM/yyyy" }}</p>
        <p>{{ aval.resolucaoLista.aplicacaoLista.turma.semestre }}</p>

        <div class="btn-wrap">
          <button class="default gray" (click)="toogleRevistion()">
            Soliciar Revisão
          </button>
        </div>
      </div>
    </div>

    <div class="space"></div>

    <div class="space"></div>

    <accordion>
      <expansion-panel
        *ngFor="let avaliacao of (avaliacoesRespostas | async).content"
        [position]="'right'"
        [iconColor]="'#17CBDF'"
        [height]="70"
      >
        <panel-header>
          <div class="question-panel">
            <h2 class="title-panel">
              Questão {{ avaliacao.resposta.questao.id }}
            </h2>
            <h2 class="title-panel">
              Pergunta:
              <span class="title-panel-ask">
                {{ avaliacao.resposta.questao.enunciado }}
              </span>
            </h2>
          </div>
        </panel-header>
        <div class="content">
          <mat-form-field
            class="full-width"
            floatLabel="always"
            appearance="outline"
          >
            <mat-label>Sua resposta</mat-label>
            <textarea
              rows="4"
              cols="50"
              matInput
              [value]="avaliacao.resposta.conteudo"
            ></textarea>
          </mat-form-field>
          <div class="space"></div>
          <mat-form-field
            class="full-width"
            floatLabel="always"
            appearance="outline"
          >
            <mat-label>Comentário do Professor</mat-label>
            <textarea
              rows="4"
              cols="50"
              matInput
              [value]="avaliacao.comentario"
            ></textarea>
          </mat-form-field>
          <mat-form-field
            class="full-width"
            floatLabel="always"
            appearance="outline"
          >
            <mat-label>Nota</mat-label>
            <input type="text" matInpu [value]="avaliacao.nota" matInput />
          </mat-form-field>
        </div>
      </expansion-panel>
    </accordion>
  </div>
  <ng-template #revisionForm>
    <mat-form-field class="full-width" floatLabel="always" appearance="outline">
      <mat-label>Motivo da Revisão</mat-label>
      <textarea
        rows="4"
        cols="50"
        matInput
        value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente consequatur dolor natus, et necessitatibus non excepturi repellendus nesciunt iusto ipsa accusantium magni enim reprehenderit id? Nobis aliquid molestias excepturi eveniet?"
      ></textarea>
    </mat-form-field>
    <div class="btn-wrap">
      <button class="default gray" [routerLink]="['/aluno/revisao']">
        Enviar Solicitação de Revisão
      </button>
    </div>
  </ng-template>
</div>
<p></p>
