.student-result{
  background: url('./../../../../assets/bg-static.svg')  no-repeat right bottom, rgba(199,148,249,1);
  background: url('./../../../../assets/bg-static.svg')  no-repeat right bottom, -moz-linear-gradient(right,bottomba(199,148,249,1) 0%, rgba(171,100,244,1) 100%);
  background: url('./../../../../assets/bg-static.svg')  no-repeat right bottom,-webkit-gradient(right bottom, right top, color-stop(0%, rgba(199,148,249,1)), color-stop(100%, rgba(171,100,244,1)));
  background: url('./../../../../assets/bg-static.svg')  no-repeat right bottom,-webkit-linear-gradient(right,bottomba(199,148,249,1) 0%, rgba(171,100,244,1) 100%);
  background: url('./../../../../assets/bg-static.svg')  no-repeat right bottom,-o-linear-gradient(right,bottomba(199,148,249,1) 0%, rgba(171,100,244,1) 100%);
  background: url('./../../../../assets/bg-static.svg')  no-repeat right bottom,-ms-linear-gradient(right,bottomba(199,148,249,1) 0%, rgba(171,100,244,1) 100%);
  background: url('./../../../../assets/bg-static.svg')  no-repeat right bottom, linear-gradient(to right, rgba(199,148,249,1) 0%, rgba(171,100,244,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c794f9', endColorstr='#ab64f4', GradientType=1 );
  border-radius: 5px;
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h3, p{
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
  }

}

.student-result-info{
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3, p{
    font-size: 18px;
  }

  h3{
    font-weight: bold;
  }
}
